* {
  margin: 0;
  padding: 1px;
}

input {
  display: block;
  margin-bottom: 10px;
}

li {
  list-style: none;
}

#title{
  width: 50vw;
  margin-bottom: 3%;
}

#author{
  width: 50vw;
  margin-bottom: 3%;

}
#add{
  width: 50vw;
  margin-bottom: 3%;
}

.list-group {
  width: 100%;
  margin: 0 auto;
}

.removebtn {
  background-color: #474646;
  color: white;
}
